<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="public/img/logo.png" type="image/x-icon">
    <title>Añadir productos</title>
    <style>
        body{font-family: 'Roboto Condensed', sans-serif;
            background: rgb(250,250,255);
            background: linear-gradient(90deg, rgba(250,250,255,1) 0%, rgba(42,42,42,1) 0%, rgba(0,0,0,1) 100%, rgba(114,114,130,1) 100%, rgba(0,0,0,1) 100%, rgba(9,9,121,1) 100%);
            }
        div{
            background: rgb(222,222,222);
            background: radial-gradient(circle, rgba(222,222,222,1) 0%, rgba(118,118,118,1) 100%, rgba(81,81,81,1) 100%, rgba(29,29,29,1) 100%, rgba(0,0,0,1) 100%, rgba(250,250,255,1) 100%, rgba(114,114,130,1) 100%, rgba(0,0,0,1) 100%, rgba(9,9,121,1) 100%); margin: 10px; border-radius: 20px; 
            margin: 10px; border-radius: 20px; 
        }
        h1{color: rgb(0, 0, 0); text-align: center; padding: 10px;}
        a{
            text-decoration: none;
            color: rgb(0, 0, 0);
        }
        .buttom{text-align: center; background: none;}
        button{margin: 8px; width: 300px; height: 100px; background: radial-gradient(circle, rgba(222,222,222,1) 0%, rgba(118,118,118,1) 100%, rgba(81,81,81,1) 100%, rgba(29,29,29,1) 100%, rgba(0,0,0,1) 100%, rgba(250,250,255,1) 100%, rgba(114,114,130,1) 100%, rgba(0,0,0,1) 100%, rgba(9,9,121,1) 100%);
             border: none; border-radius: 30px; cursor: pointer;
            border-radius: 5px; font-size: 20px; }
        
    </style>
</head>
<body>
    <div>
        <h1>Añadir productos</h1>
    </div>
    <div class="buttom">
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
    <button><a href="añadirProducto.html">Agregrar</a></button>
</body>
</html>